pipeline/ICICI_Demo.json
{
	"name": "ICICI_Demo",
	"properties": {
		"activities": [
			{
				"name": "CallAPI",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://api.restful-api.dev/objects/6"
				}
			},
			{
				"name": "Set var json",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CallAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "jsonData",
					"value": {
						"value": "@activity('CallAPI').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"jsonData": {
				"type": "String"
			}
		},
		"annotations": []
	}
}